const main = document.getElementById("main");
var div;

{{- range $stateId, $records := $.Records }}
div = document.createElement("div");
main.appendChild(div);
Plotly.newPlot(div, [
    {{- $name := index $.Names $stateId }}
    {{- $timestamps := index $.Timestamps $stateId | json }}
    {
        name: "Biden",
        x: {{ $timestamps }},
        y: [
        {{- range $records }}
            {{ .BlueVotes }} / {{ .Votes }},
        {{- end }}
        ],
        text: [
        {{- range $records }}
            {{ generateText . .BlueVotes .RedVotes | json }},
        {{- end }}
        ],
        type: "scatter",
        line: { color: "#00A6EF" },
    },
    {
        name: "Trump",
        x: {{ $timestamps }},
        y: [
        {{- range $records }}
            {{ .RedVotes }} / {{ .Votes }},
        {{- end }}
        ],
        text: [
        {{- range $records }}
            {{ generateText . .RedVotes .BlueVotes | json }},
        {{- end }}
        ],
        type: "scatter",
        line: { color: "#e9141d" },
    },
], {
    title: {{ print $name " - " $stateId | json }},
    yaxis: {
        tickformat: ".1%",
    },
});
{{- end }}
